<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registration | Horseshoe Registration Service</title>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

</head>
<body>

    <form id="registration" action="newClient">

        <h1>Horseshoe<br/>Review Services</h1>
        <input type='text' id='title'  th:name="${'name'}" placeholder="Company name" class="fields" required="required"/><br/>
        <input type='text' id='title'  th:name="${'email'}" placeholder="Company e-mail address" class="fields" required="required"/><br/>
        <button type="submit" id="save" >Save</button>
    </form>




</body>
</html>